<template>
  <button @click="createPicker" :disable="!pickerApiLoaded">
    <slot></slot>
  </button>
</template>
<script>
import { mapState } from 'vuex'
export default {
  data() {
    return {
      pickerApiLoaded: false
    }
  },
  computed: {
    ...mapState('auth', ['token', 'developerKey'])
  },
  methods: {
    createPicker() {
      this.load().then(() => {
        if (this.pickerApiLoaded && this.token) {
          let picker = new google.picker.PickerBuilder()
            .addView(google.picker.ViewId.SPREADSHEETS)
            .setOAuthToken(this.token)
            .setDeveloperKey(this.developerKey)
            .setCallback(this.pickerCallback)
            .build()
          picker.setVisible(true)
        }
      })
    },
    load() {
      return new Promise(resolve => {
        if (this.pickerApiLoaded) return resolve()
        window.gapi.load('picker', () => {
          this.pickerApiLoaded = true
          resolve()
        })
      })
    },
    async pickerCallback(data) {
      var url = 'nothing'
      var name = 'nothing'
      if (data[google.picker.Response.ACTION] === google.picker.Action.PICKED) {
        this.$emit(
          'selection',
          data.docs.map(({ id, name }) => {
            return {
              type: 'google',
              name,
              link: id
            }
          })[0]
        )
      }
    }
  }
}
</script>

<style>
</style>