<template>
  <div class="user-info">
    <span v-if="name">Hello, {{ name }}.</span>

    <span v-show="status === 'waiting'">Signing in...</span>
    <span v-show="status === 'fail'">Problem Siging In.</span>
    <span v-if="status === 'success'">Welcome Back.</span>
    <button v-else class="googleSignIn" @click="signIn" />
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  data: function() {
    return {}
  },
  computed: {
    ...mapState('auth', {
      name: state => state.name,
      status: state => state.status
    })
  },
  methods: {
    signIn() {
      this.$store.dispatch('auth/REQUEST')
    }
  }
}
</script>

<style scoped>
.user-info {
  text-align: right;
}
.googleSignIn {
  width: 191px;
  height: 46px;
  background-image: url('./login/btn_google_signin_dark_normal_web.png');
  border: none;
}
.googleSignIn:active {
  background-image: url('./login/btn_google_signin_dark_pressed_web.png');
}
.googleSignIn:hover {
  background-image: url('./login/btn_google_signin_dark_focus_web.png');
}
</style>
