<template>
  <p class="inputSearch">
    Filter:
    <input
      v-model="searchText"
      autofocus
      placeholder="Search"
      @keyup.esc="clear()"
      @input="update()"
    />
  </p>
</template>

<script>
export default {
  props: {
    value: {
      type: [String, Array],
      default() {
        return ''
      }
    }
  },
  data() {
    return {
      searchText: ''
    }
  },
  methods: {
    clear: function() {
      this.searchText = ''
    },
    update() {
      const query = this.searchText
        .toLowerCase()
        .split(' ')
        .filter(item => item !== '')
      this.$emit('input', query)
    }
  }
}
</script>

<style scoped>
input {
  text-align: center;
  background: inherit;
  padding: 0 1em;
  font-size: 22px;
  height: 20px;
  border: none;
}
input:focus {
  outline: 0;
}

.inputSearch {
  position: relative;
  margin-top: 0;
  margin-bottom: 2rem;
}

.inputSearch::before {
  content: '';
  width: 100%;
  position: absolute;
  bottom: 0.2em;
  left: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
</style>
