<template>
  <section class="list">
    <div class="sources">
      <span>Recent Information:</span>
      <div class="source-list-item" v-for="({ id, name }) in sources" :key="id">
        <router-link :to="{ name: 'info', params: { id }}" tag="button">{{ name }}</router-link>
        <!-- <button @click="fetchSource(url)">{{ id }}</button> -->
        <button class="remove" v-show="addRemoveSource" @click="removeSource(id)">Remove</button>
      </div>
      <button @click="showSourceForm">{{ addRemoveSource ? '&#x2935;' : '+' }}</button>
    </div>
    <div v-show="addRemoveSource" class="sources-input">
      <GDrivePicker @selection="addSource">Connect to Google Sheet</GDrivePicker>
      <p>OR</p>
      <label for="name">Name</label>
      <input id="name" v-model="name" type="text" autocomplete="off" />
      <label for="url">Known URL</label>
      <input v-model="url" type="url" autocomplete="off" />
      <button @click="addSource">Add</button>
    </div>
  </section>
</template>

<script>
import GDrivePicker from './gDrivePicker.vue'
import { mapState, mapActions } from 'vuex'

export default {
  components: {
    GDrivePicker
  },
  data() {
    return {
      addRemoveSource: false,
      name: '',
      url: ''
    }
  },
  computed: {
    ...mapState('data', ['sources'])
  },
  methods: {
    showSourceForm() {
      this.addRemoveSource = !this.addRemoveSource
    },
    addSource(opt) {
      let newSource = Object.assign(
        {
          type: 'url',
          name: this.name,
          link: this.url
        },
        opt
      )
      debugger
      this.$store.dispatch('data/addSource', newSource)
      this.name = this.url = null // Reset Form
      this.showSourceForm() // toggle form off once entered
    },
    ...mapActions('data', ['fetchSource', 'removeSource'])
  }
}
</script>

<style scoped>
.list {
  height: auto;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.sources {
  display: flex;
}
.source-list-item {
  display: flex;
  flex-direction: column;
}
.source-list-item .remove {
  margin: 0 1rem;
}
</style>
