<template>
  <section>
    <h1>404</h1>
    <h2>Data not found :(</h2>

    <router-link :to="{name: 'home'}">Back to the main page.</router-link>
  </section>
</template>

<script>
export default {
  name: '404'
}
</script>

<style>
</style>