<template>
  <div>
    <h1 class="head-title">Information</h1>

    <Login />
    <router-link :to="{name: 'home'}">Home</router-link>

    <router-view />
  </div>
</template>

<script>
import Login from './components/login.vue'
import { mapState } from 'vuex'

export default {
  name: 'App',
  components: {
    Login
  },
  computed: {
    ...mapState('data', ['loadingStatus'])
  }
}
</script>

<style scoped>
.head-title {
  margin: 0 0 2rem;
  font-size: 13vw;
  line-height: 9vw;
  background: #000;
  color: rgb(243, 239, 242);
}
</style>
