<template>
  <section>
    <p>Home route, choose data to load.</p>

    <Sources />
  </section>
</template>

<script>
import Sources from './components/sources.vue'
export default {
  name: 'home',
  components: {
    Sources
  }
}
</script>

<style>
</style>