<template>
  <section>
    <div v-show="loadingStatus === 'success'">
      <p>Showing {{ filtered.length }} {{ filtered.length > 1 ? 'rows' : 'row' }}.</p>
      <Search v-model="terms" />
    </div>

    <p v-if="loadingStatus === 'loading'">Fetching...</p>
    <p v-if="loadingStatus === 'failed'">There was an error loading data</p>
    <table>
      <tr>
        <th v-for="header in headers" :key="header">{{ header }}</th>
      </tr>
      <template v-for="(row, rowIndex) in filtered">
        <tr :key="rowIndex">
          <td
            v-for="(header, colIndex) in headers"
            :key="`${rowIndex}-${colIndex}`"
          >{{ row[header] }}</td>
        </tr>
      </template>
    </table>
  </section>
</template>

<script>
import Search from './components/search.vue'

import { mapState, mapActions } from 'vuex'

export default {
  name: 'info',
  components: {
    Search
  },
  props: {
    id: String
  },
  data() {
    return {
      terms: []
    }
  },
  computed: {
    filtered() {
      if (this.terms.length === 0) return this.rows
      if (this.terms.length === 1 && this.terms[0] === '') return this.rows
      let results = this.rows
      for (const query of this.terms) {
        results = results.filter(row => this.contains(row, query))
      }
      return results
    },
    ...mapState('data', ['rows', 'headers', 'loadingStatus'])
  },
  methods: {
    contains: function(item, search) {
      // reverse so anything without ':' is the value to filter by
      const [filterVal, filterKey] = search
        .toLowerCase()
        .split(':')
        .reverse()
      for (const [key, value] of Object.entries(item)) {
        if (filterKey) {
          if (key.toLowerCase().indexOf(filterKey) !== -1 && value !== '') {
            if (value.toLowerCase().indexOf(filterVal) !== -1) return true
          }
        } else {
          if (value.toLowerCase().indexOf(filterVal) !== -1) return true
        }
        // TODO: Expand to use the found location which is the index returned, overwritten as true.
      }
    },
    ...mapActions('data', ['fetchSource'])
  },
  created() {
    this.fetchSource(this.id)
  },
  watch: {
    $route(to, from) {
      this.fetchSource(to.params.id)
    }
  }
}
</script>

<style scoped>
table {
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  padding: 0 0.1em;
  border: 0 solid #000;
  border-left-width: 1px;
}
th:first-of-type,
td:first-of-type {
  border-left-width: 0;
}
tr > td:first-of-type {
  padding-left: 20px;
}
tr > td:last-of-type {
  padding-right: 20px;
}
tr:hover {
  background: rgb(205, 199, 203);
}
tr:hover:first-of-type {
  background: inherit;
}

header {
  text-align: center;
  background: inherit;
}

.sortable {
  cursor: pointer;
}

.sortable::after {
  content: '\25B2';
}
</style>
